<a {{bind-attr href=href_github}} target="_blank">{{gravatar-image email=email size=100 default='identicon' class='img-circle'}}</a>

<div class='miembro-nombre'><a {{bind-attr href=href_github}} target="_blank">{{nombre}}</a></div>

<p class='miembro-descripcion'>{{yield}}</p>
