<div class="page-header center">
  <h1>Descargas</h1>
</div>

<div class="bs-component">

  <div class='row'>
    <p>Elegí tu sabor favorito de pilas-engine. La versión
      mas reciente para descargar es la <code>{{version}}</code> (publicada
      en {{fecha}} ):</p>
  </div>

  <div class='row'>
    <ul id='descargas'>
      <li><img width=16 height=16 src='images/windows.png'> <a {{bindAttr href='link_windows'}}>Windows</a></li>
      <li><img width=16 height=16 src='images/platform_mac.png'> <a {{bindAttr href='link_mac'}}>Mac OS X</a></li>
      <li><img width=16 height=16 src='images/huayra.png'> <img width=16 height=16 src='images/ico-ubuntu.png'/> <a {{bindAttr href='link_deb'}}>Huayra o Ubuntu</a></li>
    </ul>
  </div>

  <div class='row'>

    <div class="col-lg-3"></div>

    <div class="col-lg-6">
    <p>También podés encontrar las versiones anteriores de pilas en <a href='https://www.dropbox.com/sh/pv0vu4id6dqqojh/AACy-7fqG1CpJlHXbqgOR2q6a?dl=0' target="_blank">este link</a>.</p>
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
